<!DOCTYPE html>

<html>

<head>
  <title>Hi There!</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/main.css">

</head>

<body>
  <div class="parent">
    <div class="parallex">
      <h2 class="animate-charcter">Welcome to my <span class="title-word title-word-1">Portfolio</span>
      </h2>
    </div>
  </div>

  <div class="parent">
    <div >
      <div class="container">
        <p class="ummm">Hello 👋 I'm</p><section class="animation">
        <div class="first"><div>Nix Correia</div></div>
        <div class="second"><div>Web Developer</div></div>
        <div class="third"><div>Security Engineer</div></div>
      </section>
      </div>
      <p class="norm">Hi I'm <span>Nix</span>. I have experience working in both Backend and Fullstack roles. Currently planning to
        shift to Cybersecurity based roles. i love solving problems in creative and effective ways.</p>
    </div>
  </div>
  <div class="parent">
    <div>
      <h2 class="section-heading">Projects</h2>
      <div class="Cards">
        <div class="flip-card">
          <div class="inner">
            <div class="front">
              <h1>Document storage</h1>
              <h3>Using Blockchain</h3>
              <h3>Principles</h3>
            </div>
            <div class="back">
              <h1>MEAN Framework</h1>
              <p>Integrity: Blockchain Ledger</p>
              <p>Security: PKA</p>
            </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="inner">
            <div class="front">
              <h1>Aid Request Blogsite</h1>
              <h3>Built with Firebase</h3>
              <h3>...</h3>
            </div>
            <div class="back">
              <h1>NodeJS and Firebase</h1>
              <p>Built for Charity purposes</p>
              <p>During Pandemic</p>
            </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="inner">
            <div class="front">
              <h1>Simple Cryptocurrency</h1>
              <h3>Using Java </h3>
              <h3>and Solidity</h3>
            </div>
            <div class="back">
              <h1>Similar to Etherium</h1>
              <p>Using Smart contracts</p>
              <p>and Mining implemented</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parent">
    <div class="langs">
      <h2 class="section-heading">Language Proficiency</h2>
    </div>
    <div class="table center">
          <div class="monitor-wrapper center">
            <div class="monitor center" style="height: 100px;width: 750px;margin-top: 10px;top: 10px;">
              <p style="margin-top: 0px;">Python, NodeJs, Javascript, Firebase, GoLang, Ruby, Java, Typescript, SQL, NoSQL.</p>
            </div>
          </div>
        </div>
  </div>
  <div class="parent">
    <div>
      <h2 class="section-heading">Connect with Me!</h2>
      <p>Feel free to Explore my <a href="http://github.com/nix3269">Git</a> and <a
          href="http://linkedin.com/in/nix-correia-sec">LinkedIn</a></p>
    </div>
  </div>
</body>

</html>